<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{restaurant.name}}</h1>

    {% for item in items %}

    <div>

      <p>{{item.name}}</p>
      </br>
      <p>{{item.description}}</p>
      </br>
      <p>{{item.price}}</p>
      <a href = "{{ url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = item.id) }}">Edit</a>
      <a href = "{{ url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = item.id) }}">Delete</a>
      </br>
      </br>

    </div>

  {% endfor %}
  </body>
</html>
